<h2 mat-dialog-title>How to use the web app</h2>
<mat-dialog-content class="mat-typography">
  <ul>
      <li>Click on the Walls button and drag on the grid to create walls</li>
      <li>
        To remove walls, click the Remove Walls button and drag on existing
        walls to remove them
      </li>
      <li>
        To change the start position of the search, choose the Change Start
        button and click anywhere on the grid
      </li>
      <li>
        To change the end position of the search, choose the Change End button
        and click anywhere on the grid
      </li>
      <li>
        The pink buttons represent algorithms you can use to search. Click on
        any one of them
      </li>
      <li>
        To create a random arrangement of walls, click on the Random Walls
        button
      </li>
      <li>To try out a maze, chooze a sample maze from the dropdown</li>
      <li>Click Reset to revert all changes on the grid</li>
    </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
