
<h2 mat-dialog-title>Visualize algorithms</h2>
<mat-dialog-content class="mat-typography">
  <mat-tab-group backgroundColor="accent">
  <mat-tab label="A*">
    <mat-tab-group>
      <mat-tab label="A* in Java"><pre></pre></mat-tab>
      <mat-tab label="A* in JavaScript"></mat-tab>
      <mat-tab label="A* in C++"></mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab label="BFS"> <mat-tab-group>
      <mat-tab label="BFS in Java"></mat-tab>
      <mat-tab label="BFS in JavaScript"></mat-tab>
      <mat-tab label="BFS in C++"></mat-tab>
    </mat-tab-group></mat-tab>
  <mat-tab label="Dijkstra">  <mat-tab-group>
      <mat-tab label="Dijkstra in Java"></mat-tab>
      <mat-tab label="Dijkstra in JavaScrip"></mat-tab>
      <mat-tab label="Dijkstra in "></mat-tab>
    </mat-tab-group> </mat-tab>
</mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
